*.log  
*.plg  
*.bak  
*.dep  
*.uvgui.*  
*.uvguix.*  
JLinkLog.txt
*.o  
*.d  
*.crf  
*.tra  
*.axf  
*.hex  
*.lnp  
*.sct  
*.__i  
*.map
*.htm
*.TMP
/Obj
/Objects
fhjw_r3003_cube_hal/
sourceInsignt/
.mxproject
/.mxproject
/MDK-ARM/RTE/RTE_Components.h
